<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\LMT.Administration.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: EA9DE049-3427-4F6D-A6C0-E7EA687B3C1F-->
<!--ProjectGuid: 6792C14C-8DF2-423C-9803-A3399EB69915-->
<!--ProjectGuid: 5EABFD0C-277E-409F-BBEE-978BA06D6946-->